@import url('https://db.onlinewebfonts.com/c/ab21a97b9cae2e116d8d1473baefc9f0?family=RDR+Lino+Regular');
.container {
    display: none;
}

.main-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 100;
}

.characters-block-header>p {
    text-align: center;
    color: #ffff;
    line-height: 24px;
    font-family: "RDR Lino Regular";
}

.characters-list {
    display: none;
    position: absolute;
    width: 40vh;
    height: 45vh;
    right: 50vh;
    overflow: visible !important;

    padding: 3vh;

	background-image: url(./assets/Sin-nombre.png);
	background-size: 100% 100%;
	background-position: left;
	background-repeat: no-repeat;
    transform-style: preserve-3d;
    animation-name: mover-hoja ;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: both;
    transform-origin: right;
    transform:  perspective(1000px) rotateY(5deg);
}

.characters-list:hover {
    transform:  perspective(1000px) rotateY(0deg);
}

.character-list-header {
    text-transform: uppercase;
    position: relative;
    width: 37vh;
    height: 7vh;
    right: -5vh;
    margin-bottom: 1.5vh;
    top: 5vh;
}

.character-list-header>p {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 2vh;
    margin-top: 3.1vh;
    font-family: "RDR Lino Regular";
    letter-spacing: .1vh;
    
    overflow: visible !important;
}

.character {
    position: relative;
    width: 85%;
    height: 6vh;
    margin-top: 0.2vh;
    top: 5vh;
    left: 7vh;
    margin-bottom: 0.75vh;
    font-family: "RDR Lino Regular";
    border-bottom: 4px solid #74aa3200;
    transition: .1s linear;
    border-radius: .3vh;
    cursor: pointer;
}

.character>span {
    text-transform: uppercase;
    letter-spacing: .1vh;
    font-family: "RDR Lino Regular";
    margin-right: 1vh;
    margin-left: 1vh;
}

#cid {
    position: relative;
    float: right;
    font-size: 1.5vh;
    right: 3.5vh;
    line-height: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.char-selected {
    background-image: url(./assets/public-black.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
    color: #ffff;
}

.disabled {
    background-color: rgba(0, 0, 0, 0.691);
}

#slot-name {
    position: relative;
    font-size: 17px;
    line-height: 5vh;
    left: 1vh;
    top: 0.5vh;
    font-family: "RDR Lino Regular";
    text-align: center;
}

.character-btn {
    position: relative;
    width: 85%;
    height: 5.0vh;
    left: 7vh;
    transition: 0.2s;
    float: left;
    margin-top: 1.6vh;
    cursor: pointer;
}

.character-btn>p {
    letter-spacing: .1vh;
    text-align: center;
    font-family: "RDR Lino Regular";
    font-size: 2vh;
    text-transform: uppercase;
    line-height: 5vh;
}

#play {
    display: none;
    top: 3vh;
    border-radius: .3vh;
    transition: all 0.2s ease;
}

#play:hover {
    display: block;
    
    background-image: url(./assets/public-yellow.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
    color: #ffff;
}

#delete {
    display: none;
    top: 1.6vh;
    border-radius: .3vh;
    transition: all 0.2s ease;
}

#delete:hover {
    display: block;
    background-image: url(./assets/public-red.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
    color: #ffff;
}

.character-info {
    display: none;
    position: absolute;
    width: 37vh;
    height: 45vh;
    right: 7vh;
    border-radius: .8vh;
    padding: 3vh;
    
    overflow: visible !important;

    background-image: url(./assets/Sin-nombre3.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    animation-name: mover-hoja ;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: both;
    transform-origin: left;
    transform:  perspective(1000px) rotateY(-5deg);
    backface-visibility: hidden;
}

.characters-info:hover {
    transform:  perspective(1000px) rotateY(0deg);
}

#char-info-icon {
    position: relative;
    font-size: 1.5vh;
    color: #ffff
;    right: 20px;
    overflow: visible !important;
}

#char-info-titel {
    text-transform: uppercase;
    position: absolute;
    font-size: 2vh;
    font-family: "RDR Lino Regular";
    left: 3vh;
    letter-spacing: .1vh;
    overflow: visible !important;
}

.char-info-js {
    position: absolute;
    left: 30%;
    font-family: "RDR Lino Regular";
    text-transform: uppercase;
}

#info-label {
    margin-left: 1vh;
    text-transform: uppercase;
}

#no-char {
    font-family: "RDR Lino Regular";
    position: relative;
    font-size: 16px;
    margin-right: 80%;
    margin-left: 0vh;
    text-align: center;
}

.char-info-titel {
    position: relative;
    height: 6vh; 
    margin-top: 8vh;
    margin-right: 1vh;
    overflow: visible !important;
    text-align: center;
}

.character-info-valid {
    position: relative;
    overflow: visible !important;
}

.character-info-box {
    position: relative;
    font-size: 1.5vh;
    width: 85%;
    height: 4vh;
    left: -1vh;
    font-family: "RDR Lino Regular";
    text-transform: uppercase;
    margin-bottom: 0px;
}

.character-delete {
    display: none;
    position: absolute;
    width: 37vh;
    height: 45vh;
    right: 7vh;
    margin-top: 20vh;
    border-radius: .8vh;
    
    padding: 3vh;
    font-family: "RDR Lino Regular";
    color: #000000;
    overflow: visible !important;

    background-image: url(./assets/Sin-nombre3.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    animation-name: mover-hoja2 ;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;
    transform-origin: left;
    transform:  perspective(1000px) rotateY(-10deg);
    backface-visibility: hidden;
}

.characters-delete:hover {
    transform:  perspective(1000px) rotateY(0deg);
    animation-name: mover-hoja ;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: both;
    transform-origin: right;
}

.characters-delete-block-header {
    /*position: absolute;*/
    width: 35vh;
    text-align: left;
    font-size: 2vh;
    line-height: 7vh;
    font-family: "RDR Lino Regular";
    text-transform: uppercase;
    overflow: visible !important;
}

.characters-delete-block-header>p {
    margin-top: 6vh;
    margin-left: -5vh;
    font-size: 3vh;
    font-family: "RDR Lino Regular";
    overflow: visible !important;
    text-align: center;
}

.character-delete>p {
    margin-top: 2vh;
    margin-right: 25%;
    font-size: 1.3vh;
    overflow: visible !important;
    text-align: left;
}

#yeet {
    overflow: visible !important;
}

.character-acceptdel-btn {
    position: absolute;
    width: 85%;
    height: 4vh;
    margin-top: 5vh;
    left: 2vh;
    transition: 0.2s;
    overflow: visible !important;
    cursor: pointer;
}

.character-acceptdel-btn:hover {

    background-image: url(./assets/public-red.png);
    background-size: 85% 100%;
    background-position: left;
    background-repeat: no-repeat;
    left: 2vh;
    color: #ffff;
}

.character-canceldel-btn {
    position: absolute;
    width: 85%;
    height: 4vh;
    margin-top: 9vh;
    left: 2vh;
    transition: 0.2s;
    overflow: visible !important;
    cursor: pointer;
}

.character-canceldel-btn:hover {
    background-image: url(./assets/public-black.png);
    background-size: 85% 100%;
    background-position: left;
    background-repeat: no-repeat;
    left: 2vh;
    color: #ffff;
}

.character-acceptdel-btn>p {
    text-align: center;
    padding-top: 1vh;
    margin-left: 6vh;
    margin-right:12vh;
    font-family: "RDR Lino Regular";
    overflow: visible !important;
    text-transform: uppercase;
}

.character-canceldel-btn>p {
    text-align: center;
    padding-top: 1vh;
    margin-left:-6vh;
    font-family: "RDR Lino Regular";
    overflow: visible !important;
    text-transform: uppercase;
}

.character-register {
    display: none;
    position: absolute;
    width: 37vh;
    height: 45vh;
    right: 7vh;
    margin-top: -5vh;
    
    padding: 3vh;

    font-family: "RDR Lino Regular";
    overflow: visible !important;
    
    background-image: url(./assets/Sin-nombre3.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    animation-name: mover-hoja2;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;
    transform-origin: left;
    transform:  perspective(1000px) rotateY(-10deg);
    backface-visibility: hidden;
}

.characters-register:hover {
    transform:  perspective(1000px) rotateY(0deg);
    animation-name: mover-hoja ;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: both;
    transform-origin: right;
}

/* i#close-reg {
    position: relative;
    top: -2vh;
    cursor: pointer;
}

.material-icons-one {
    margin-left: 39.5vh;
    color: #ffff;
    background-color: #751129;
    font-size: 1.3vh;
    font-weight: 900;
    border-radius: .3vh;
    padding: .3vh;
} */

.characters-register-block-header {
    text-transform: uppercase;
    position: absolute;
    width: 37vh;
    height: 7vh;
    top: 9vh;
    margin-right: 2vh; 
    margin-left: -4vh;
    text-align: center;
    font-size: 2vh;
}

.characters-register-block-header>p {
    margin-top: 2.2vh;
    font-family: "RDR Lino Regular";
}

.char-register-inputs {
    position: absolute;
    top: 10.5vh;
    overflow: visible !important;
}

.char-reg-input {
    position: relative;
    float: left;
    margin-top: 1vh;
    margin-left: 2vh;
    border: none;
    background-image: url(./assets/inkroller_1a.png);
	background-size: 100% 100%;
    outline: none;
    width: 32vh;
    height: 3vh;
    color: #030303;
    max-width: 100%;
    padding: 0.4vh;
    border-radius: 0.3vh;
    font-family: "RDR Lino Regular";
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: text;
}

select {
    position: absolute;
    border: none;
    background-image: url(./assets/inkroller_1a.png);
	background-size: 100% 100%;
    outline: none;
    width: 93.5%;
    height: 4vh;
    top: 19.9vh;
    left: .1vh;
    color: #070707;
    max-width: 100%;
    padding: 4px;
    border-radius: .3vh;
    font-family: "RDR Lino Regular";
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

select:hover {
    background-color: rgba(34, 34, 34, 0.808);
}

select:focus {
    background-color: rgba(34, 34, 34, 0.808);
}

#gender option {
    background-color: transparent;
    border: none;
    outline: none;
}

select::placeholder {
    text-align: center;
}

select::-ms-expand {
    display: none;
}

.char-reg-input::placeholder {
    color: rgba(255, 255, 255, 0.52);
}

input[type="date"] {
    color: #ffff;
    text-align: center;
}

input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

#birthdate {
    color: #ffff;
    text-align: center;
    font-family: "RDR Lino Regular";
}

.character-reg-btn {
    position: relative;
    max-width: 30vh;
    height: 30vh;
    bottom: 3vh;
    margin: 0 auto;
    margin-top: 15vh;
    margin-left: 0vh;

    cursor: pointer;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(./assets/Logo.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
}

.character-reg-btn>p {
    text-align: center;
    line-height: 4vh;
    color: #ffff;
    text-transform: uppercase;
    font-family: "RDR Lino Regular";
    font-size: 2vh;
    font-weight: 900;
}

.character-reg-btn:hover {
    background-image: url(./assets/Logov2.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
}

.character-reg-btn2 {
    position: relative;
    max-width: 30vh;
    height: 4vh;
    border-radius: .3vh;
    bottom: 3vh;
    margin: 0 auto;
    margin-top: 0vh;
    margin-right: 8vh;
    cursor: pointer;
    background-position: left;
    background-repeat: no-repeat;
}

.character-reg-btn2>p {
    text-align: center;
    line-height: 4vh;
    font-family: "RDR Lino Regular";
    font-size: 2vh;
}

.character-reg-btn2:hover {
    color: #ffff;
    background-image: url(./assets/public-black.png);
    background-size: 100% 100%;
}

.loading-rondje {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 150px;
    height: 150px;
    transform: translateY(-50%);
    text-align: center;
    padding: 1vh;
}

.loading-rondje > p {
    color: white;
    margin-top: 1vh;
    font-family: "RDR Lino Regular";
    text-shadow: 1px 1px 0px #00000085;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes mover-hoja {
    0% {
        transform: perspective(800px) rotateY(90deg);
        opacity: 0.6;
    }
    100% {
        transform: perspective(800px) rotateY(0deg);
        opacity: 1.56;
    }
}

@keyframes mover-hoja2 {
    0% {
        transform: perspective(1000px) rotateY(-180deg);
        opacity: 0.6;
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
        opacity: 1.56;
    }
}